[submodule "emacs.d/vendor/evil-org-mode"]
	path = emacs.d/vendor/evil-org-mode
	url = https://github.com/edwtjo/evil-org-mode.git
[submodule "kitty/themes"]
	path = kitty/themes
	url = https://github.com/dexpota/kitty-themes
[submodule "mpv/scripts/subs2srs"]
	path = mpv/scripts/subs2srs
	url = https://github.com/Ajatt-Tools/mpvacious.git
[submodule "mpv/scripts/evafast"]
	path = mpv/scripts/evafast
	url = https://github.com/po5/evafast.git
[submodule "mpv/scripts/sub-transition"]
	path = mpv/scripts/sub-transition
	url = https://github.com/Ajatt-Tools/sub-transition.git
[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain.git
