[submodule "emacs.d/mine/evil-linewise"]
	path = emacs.d/mine/evil-linewise
	url = git@github.com:nadavspi/evil-linewise.git
[submodule "emacs.d/vendor/evil-org-mode"]
	path = emacs.d/vendor/evil-org-mode
	url = https://github.com/edwtjo/evil-org-mode.git
