[submodule "mpv/scripts/subs2srs"]
	path = home/dot_config/mpv/scripts/subs2srs
	url = https://github.com/Ajatt-Tools/mpvacious.git
[submodule "mpv/scripts/evafast"]
	path = home/dot_config/mpv/scripts/evafast
	url = https://github.com/po5/evafast.git
[submodule "mpv/scripts/sub-transition"]
	path = home/dot_config/mpv/scripts/sub-transition
	url = https://github.com/Ajatt-Tools/sub-transition.git
[submodule "awesome/lain"]
	path = home/dot_config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "subs2srs"]
	path = home/dot_config/mpv/scripts/subs2srs
	url = git@github.com:nadavspi/mpvacious.git
[submodule "tmux/plugins/tpm"]
	path = home/dot_config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
