configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font Medium 16";
  modi: "window,run,drun,calc";
  show-icons: true;
}

@import "theme.rasi"
