[Unit]
Description=Pull cli container image
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=distrobox enter cli -- chezmoi update

[Install]
WantedBy=multi-user.target
