[Unit]
Description=Keep dotfiles up to date
After=cli.service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/podman pull ghcr.io/nadavspi/cli:latest
ExecStartPost=distrobox enter cli -- sh -c " \
  sudo chown -R %U:%G /opt/dotfiles /usr/share/nvim && \
  /opt/dotfiles/chezmoi-install.sh"

[Install]
WantedBy=default.target
