[Unit]
Description=Pull dotfiles container image
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/podman pull ghcr.io/nadavspi/dotfiles:latest
ExecStartPost=distrobox enter dotfiles -- chezmoi update

[Install]
WantedBy=multi-user.target
