tap "homebrew/cask-fonts"

brew "bat"
brew "btop"
brew "chezmoi"
brew "direnv"
brew "eza"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git-delta"
brew "jq"
brew "just"
brew "lazygit"
brew "lf"
brew "neovim"
brew "nodejs"
brew "npm"
brew "pipx"
brew "poetry"
brew "python3"
brew "ripgrep"
brew "speedtest-cli"
brew "tmux"
brew "tree"
brew "wget"
brew "yazi"
brew "zoxide"

cask "1password"
cask "1password-cli"
cask "alfred"
cask "contexts"
cask "dimentium/autoraise/autoraiseapp"
cask "firefox"
cask "font-hack-nerd-font"
cask "karabiner-elements"
cask "kitty"
cask "moom"
cask "obsidian"

{{- if ne .chezmoi.hostname "JKW7FF949F" }}
## home only

brew "ansible"
brew "ffmpegthumbnailer"
brew "mas"
brew "yt-dlp"
cask "adobe-creative-cloud"
cask "anki"
cask "bartender"
cask "chromium", args: { no_quarantine: true }
cask "discord"
cask "docker"
cask "hazel"
cask "mpv"
cask "signal"
cask "sonos"
cask "spotify"
cask "syncthing"
cask "tailscale"
cask "vuescan"
cask "zoom"
cask "zotero"
mas "amphetamine", id: 937984704
mas "paprika", id: 1303222628
{{- end }}

{{- if eq .chezmoi.hostname "JKW7FF949F" }}

cask "postman"

{{- end }}
