tap "homebrew/cask-fonts"
tap "dimentium/autoraise"
tap "homebrew/services"

brew "bat"
brew "btop"
brew "chezmoi"
brew "colima"
brew "docker-compose"
brew "direnv"
brew "docker"
brew "eza"
brew "fd"
brew "fish"
brew "fzf"
brew "gawk"
brew "gh"
brew "git-delta"
brew "gron"
brew "jq"
brew "just"
brew "lazygit"
brew "lf"
brew "neovim"
brew "pandoc"
brew "pipx"
brew "poetry"
brew "python3"
brew "ripgrep"
brew "speedtest-cli"
brew "tealdeer"
brew "tmux"
brew "tree"
brew "wget"
brew "yazi"
brew "zoxide"

tap "ddev/ddev"
brew "ddev"
brew "mkcert" 
brew "nss"

# android device mirroring
brew "scrcpy"
cask "android-platform-tools"

cask "1password"
cask "1password-cli"
cask "alfred"
cask "amethyst"
cask "basictex" # pdflatex for pandoc 
cask "contexts"
cask "dimentium/autoraise/autoraiseapp"
cask "firefox"
cask "font-hack-nerd-font"
cask "karabiner-elements"
cask "kitty"
cask "obsidian"
cask "podman-desktop"
cask "slack"

{{- if ne .chezmoi.hostname "JKW7FF949F" }}
## home only

brew "ansible"
brew "ffmpegthumbnailer"
brew "mas"
brew "yt-dlp"
cask "adobe-creative-cloud"
cask "anki"
cask "bartender"
cask "chromium", args: { no_quarantine: true }
cask "discord"
cask "hazel"
cask "ireal-pro"
cask "libreoffice"
cask "multifirefox"
cask "musescore"
cask "notunes"
cask "signal"
cask "sonos"
cask "spotify"
cask "steermouse"
cask "stolendata-mpv"
cask "syncthing"
cask "tailscale"
cask "vuescan"
cask "zoom"
cask "zotero"
cask "qbittorrent"
cask "vlc"
mas "amphetamine", id: 937984704
mas "paprika", id: 1303222628
{{- end }}

## postman alternative
cask "bruno"

brew "nodejs"
brew "npm"
brew "corepack"
brew "fnm"

# virtualization
cask "utm"
cask "vmware-fusion"

# ocr
brew "poppler"
brew "tesseract"

# irc
cask "halloy"

# audio
cask "audacity"
brew "sox"
cask "foobar2000"
brew "mpd"
brew "mpc"
brew "ncmpcpp"
cask "deadbeef@nightly"
cask "submariner"
