brew "bat"
brew "btop"
brew "chezmoi"
brew "direnv"
brew "eza"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git-delta"
brew "jq"
brew "just"
brew "lazygit"
brew "lf"
brew "neovim"
brew "nodejs"
brew "npm"
brew "pipx"
brew "poetry"
brew "python3"
brew "ripgrep"
brew "speedtest-cli"
brew "tmux"
brew "wget"
brew "yazi"
brew "zoxide"

{{- if ne .chezmoi.hostname "JKW7FF949F" }}
brew "ffmpegthumbnailer"
brew "yt-dlp"
{{- end }}

cask "1password"
cask "alfred"
cask "amethyst"
cask "chromium"
cask "cleanshot"
cask "firefox"
cask "kitty"
cask "obsidian"

{{- if eq .chezmoi.hostname "JKW7FF949F" }}
cask "postman"
{{- end }}
